* { margin: 0; box-sizing: border-box; } 

body {
	background-color: #405c91;
}

nav {
    display: inline-block;
    vertical-align: middle;
	margin: 0px auto;
	background-color: #27738a;
	border: 0px solid #bbb;
	text-align: center;
}
    

header {
	margin: 10px auto;
	background-color: #27738a;
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
	text-align: center;
}

header img, .headings {
    background-color: #27738a;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}


footer {
    background-color: #0d2a79
}